.lexical__ltr {
	@apply text-left;
}
.lexical__rtl {
	@apply text-right;
}
.lexical__paragraph {
	@apply mt-2 text-sm md:text-base;
}
.lexical__quote {
	@apply my-3 border-l-4 border-l-red pl-3 text-accent-4 md:my-6 md:pl-6;
}
.lexical__h1 {
	@apply font-sans text-6xl uppercase leading-[.9] tracking-[-0.01rem] md:text-8xl;
}
.lexical__h2 {
	@apply font-sans text-4xl tracking-[-0.01rem] md:text-6xl;
}
.lexical__h3 {
	@apply font-sans text-2xl tracking-[-0.01rem] md:text-4xl;
}
.lexical__h4 {
	@apply font-sans text-xl tracking-[-0.01rem] md:text-3xl;
}
.lexical__h5 {
	@apply font-sans text-lg leading-4 md:text-xl;
}
.lexical__h6 {
	@apply text-base md:text-lg;
}
.lexical__textBold {
	@apply font-bold;
}
.lexical__textItalic {
	@apply italic;
}
.lexical__textUnderline {
	@apply underline decoration-2;
}
.lexical__textStrikethrough {
	@apply line-through;
}
.lexical__textUnderlineStrikethrough {
	text-decoration: underline line-through;
}
.lexical__textSubscript {
	font-size: 0.8em;
	vertical-align: sub !important;
}
.lexical__textSuperscript {
	font-size: 0.8em;
	vertical-align: super;
}
.lexical__textCode {
	@apply rounded-md bg-secondary py-1 px-1.5 font-mono text-syntax-1;
}
.lexical__hashtag {
	background-color: rgba(88, 144, 255, 0.15);
	border-bottom: 1px solid rgba(88, 144, 255, 0.3);
}
.lexical__link {
	@apply text-green;
}
.lexical__link:hover {
	@apply text-blue-1;
}
.lexical__code {
	background-color: rgb(240, 242, 245);
	font-family: Menlo, Consolas, Monaco, monospace;
	display: block;
	padding: 8px 8px 8px 52px;
	line-height: 1.53;
	font-size: 13px;
	margin: 0;
	margin-top: 8px;
	margin-bottom: 8px;
	tab-size: 2;
	/* white-space: pre; */
	overflow-x: auto;
	position: relative;
}
.lexical__code:before {
	content: attr(data-gutter);
	position: absolute;
	background-color: #eee;
	left: 0;
	top: 0;
	border-right: 1px solid #ccc;
	padding: 8px;
	color: #777;
	white-space: pre-wrap;
	text-align: right;
	min-width: 25px;
}
.lexical__table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
	overflow-y: scroll;
	table-layout: fixed;
	width: calc(100% - 25px);
	margin: 30px 0;
}
.lexical__tableSelected {
	outline: 2px solid rgb(60, 132, 244);
}
.lexical__tableCell {
	border: 1px solid #bbb;
	min-width: 75px;
	vertical-align: top;
	text-align: start;
	padding: 6px 8px;
	position: relative;
	cursor: default;
	outline: none;
}
.lexical__tableCellSortedIndicator {
	display: block;
	opacity: 0.5;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #999;
}
.lexical__tableCellResizer {
	position: absolute;
	right: -4px;
	height: 100%;
	width: 8px;
	cursor: ew-resize;
	z-index: 10;
	top: 0;
}
.lexical__tableCellHeader {
	background-color: #f2f3f5;
	text-align: start;
}
.lexical__tableCellSelected {
	background-color: #c9dbf0;
}
.lexical__tableCellPrimarySelected {
	border: 2px solid rgb(60, 132, 244);
	display: block;
	height: calc(100% - 2px);
	position: absolute;
	width: calc(100% - 2px);
	left: -1px;
	top: -1px;
	z-index: 2;
}
.lexical__tableCellEditing {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
}
.lexical__tableAddColumns {
	position: absolute;
	top: 0;
	width: 20px;
	background-color: #eee;
	height: 100%;
	right: 0;
	animation: table-controls 0.2s ease;
	border: 0;
	cursor: pointer;
}
.lexical__tableAddColumns:after {
	background-image: url(../images/icons/plus.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
}
.lexical__tableAddColumns:hover {
	background-color: #c9dbf0;
}
.lexical__tableAddRows {
	position: absolute;
	bottom: -25px;
	width: calc(100% - 25px);
	background-color: #eee;
	height: 20px;
	left: 0;
	animation: table-controls 0.2s ease;
	border: 0;
	cursor: pointer;
}
.lexical__tableAddRows:after {
	background-image: url(../images/icons/plus.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
}
.lexical__tableAddRows:hover {
	background-color: #c9dbf0;
}
@keyframes table-controls {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.lexical__tableCellResizeRuler {
	display: block;
	position: absolute;
	width: 1px;
	background-color: rgb(60, 132, 244);
	height: 100%;
	top: 0;
}
.lexical__tableCellActionButtonContainer {
	display: block;
	right: 5px;
	top: 6px;
	position: absolute;
	z-index: 4;
	width: 20px;
	height: 20px;
}
.lexical__tableCellActionButton {
	background-color: #eee;
	display: block;
	border: 0;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	color: #222;
	cursor: pointer;
}
.lexical__tableCellActionButton:hover {
	background-color: #ddd;
}
.lexical__characterLimit {
	display: inline;
	background-color: #ffbbbb !important;
}
.lexical__ol1 {
	padding: 0;
	margin: 0;
	margin-left: 16px;
	list-style-position: inside;
}
.lexical__ol2 {
	padding: 0;
	margin: 0;
	margin-left: 16px;
	list-style-type: upper-alpha;
	list-style-position: inside;
}
.lexical__ol3 {
	padding: 0;
	margin: 0;
	margin-left: 16px;
	list-style-type: lower-alpha;
	list-style-position: inside;
}
.lexical__ol4 {
	padding: 0;
	margin: 0;
	margin-left: 16px;
	list-style-type: upper-roman;
	list-style-position: inside;
}
.lexical__ol5 {
	padding: 0;
	margin: 0;
	margin-left: 16px;
	list-style-type: lower-roman;
	list-style-position: inside;
}
.lexical__ul {
	padding: 0;
	margin: 0;
	margin-left: 16px;
	list-style-position: inside;
}
.lexical__listItem {
	margin: 0 32px;
}
.lexical__listItemChecked,
.lexical__listItemUnchecked {
	position: relative;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 24px;
	padding-right: 24px;
	list-style-type: none;
	outline: none;
}
.lexical__listItemChecked {
	text-decoration: line-through;
}
.lexical__listItemUnchecked:before,
.lexical__listItemChecked:before {
	content: '';
	width: 16px;
	height: 16px;
	top: 2px;
	left: 0;
	cursor: pointer;
	display: block;
	background-size: cover;
	position: absolute;
}
.lexical__listItemUnchecked[dir='rtl']:before,
.lexical__listItemChecked[dir='rtl']:before {
	left: auto;
	right: 0;
}
.lexical__listItemUnchecked:focus:before,
.lexical__listItemChecked:focus:before {
	box-shadow: 0 0 0 2px #a6cdfe;
	border-radius: 2px;
}
.lexical__listItemUnchecked:before {
	border: 1px solid #999;
	border-radius: 2px;
}
.lexical__listItemChecked:before {
	border: 1px solid rgb(61, 135, 245);
	border-radius: 2px;
	background-color: #3d87f5;
	background-repeat: no-repeat;
}
.lexical__listItemChecked:after {
	content: '';
	cursor: pointer;
	border-color: #fff;
	border-style: solid;
	position: absolute;
	display: block;
	top: 6px;
	width: 3px;
	left: 7px;
	right: 7px;
	height: 6px;
	transform: rotate(45deg);
	border-width: 0 2px 2px 0;
}
.lexical__nestedListItem {
	list-style-type: none;
}
.lexical__nestedListItem:before,
.lexical__nestedListItem:after {
	display: none;
}
.lexical__tokenComment {
	color: slategray;
}
.lexical__tokenPunctuation {
	color: #999;
}
.lexical__tokenProperty {
	color: #905;
}
.lexical__tokenSelector {
	color: #690;
}
.lexical__tokenOperator {
	color: #9a6e3a;
}
.lexical__tokenAttr {
	color: #07a;
}
.lexical__tokenVariable {
	color: #e90;
}
.lexical__tokenFunction {
	color: #dd4a68;
}
.lexical__mark {
	background: rgba(255, 212, 0, 0.14);
	border-bottom: 2px solid rgba(255, 212, 0, 0.3);
	padding-bottom: 2px;
}
.lexical__markOverlap {
	background: rgba(255, 212, 0, 0.3);
	border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.lexical__mark.selected {
	background: rgba(255, 212, 0, 0.5);
	border-bottom: 2px solid rgba(255, 212, 0, 1);
}
.lexical__markOverlap.selected {
	background: rgba(255, 212, 0, 0.7);
	border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.lexical__embedBlock {
	user-select: none;
}
.lexical__embedBlockFocus {
	outline: 2px solid rgb(60, 132, 244);
}
